@font-face {
    font-family: "Bogart";
    src: url(../fonts/BOGARTREGULAR.TTF);
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-Regular.ttf");
}

.main-sec{
    height: 100% !important;
    width: 100% !important;
}

.pdf-page{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

@media only screen and (max-width : 992px) {
    .pdf-page{
        height: fit-content;
    }
}

.text-main{
    color:#c1ff72;
    text-align: center;
    padding-top:4%;
    padding-bottom: 4%;
}

.main-heading{
    font-family: "Bogart";
    font-size:10rem;
    hyphens:auto;
    padding-left: 5%;
    padding-right: 5%;
    line-height: normal;
}

@media only screen and (max-width : 992px) {
    .main-heading{
        font-size: 5rem;
    }
}


.main-bg{
    background-image: url("../images/CounterfeitCoders_img1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.main-subtext{
    font-family: "Montserrat";
    font-size: 1.5rem;
}

@media only screen and (max-width : 992px) {
    .main-subtext{
        font-size: 1rem;
    }
}

.main-info{
    font-family: "Montserrat";
    font-size: large;
}

.sec-head{
    font-size:3.5rem;
    font-family: "Bogart";
    color:#dedcd7;
}

.sec-text{
    font-family: "Montserrat";
    font-size: large;
    color:#dedcd7;
}
.sec-text-special{
    font-weight: bold;
    font-size: larger;
}
.sec-text-smaller{
    font-size: smaller;
}

.drums-bg{
    background-color: black;
    background-image: url("../images/CounterfeitCoders_img3.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-blend-mode: hard-light;
}

.guitar-bg{
    background-image: url("../images/CounterfeitCoders_img2.png");
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: contain;
}

.ter-collage{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.collage-height{
    height:100%;
}

.ter-title{
    font-family: "Bogart";
    font-size: 5rem;
    color:white;
}
@media only screen and (max-width : 992px) {
    .ter-title{
        font-size: 3.5rem;
        text-align: center;
    }
}
.artist-details{
    color:white;
    font-size:x-large;
}
.artist-details p{
    color:white;
    font-size:large;
}

.line{
    border-width:3px !important;
    width:75% !important;
}

.line2{
    border-width:3px !important;
    width:100% !important;
}

.page4-bg{
    background-color: #232323;
    background-image: url("../images/CounterfeitCoder_img5.png");
    background-size: cover;
    color:white;
}

.quad-title{
    font-family: "Bogart";
    font-size: 5rem;
    color:white;
}

.quad-title+p{
    font-family: "Montserrat";
    font-size: large;
    color:white;
}

.moneybox{
    background-color: #edf0f2;
    color: black;
    height:100%;
    box-sizing: border-box;
    border: 10px solid transparent;
    background-clip:padding-box;
    padding:2%;
    text-align: center;
}

.inner-line{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.rounded-but{
    background-color: #242222;
    color:white;
    border-radius: 30px;
    width:45%;
    margin:20px;
    height:25%;
    font-size: x-large;
    font-weight: bold;
    border:none;
}

.innerlargetext{
    font-size: x-large;
    margin: 0;
    padding: 0;
}

.innerlargetext b{
    font-size: xx-large;
}

.rounded-det{
    display: block;
    margin:20px;
    padding:20px;
    padding-left:40px !important;
    width: 45% !important;
    height:30%;
    text-align: left;
    background-color: #242222;
    color: white;
    border-radius: 60px;
}

@media only screen and (max-width : 992px) {
    .rounded-det{
        font-size: normal;
        width:40% !important;
        height:70%;
        margin:0;
        padding:2px;
    }
}

.finaltitle{
    font-family: "Bogart";
    font-size: 6.5rem;
    color:black;
}
@media only screen and (max-width : 992px) {
    .finaltitle{
        font-size: 4rem;
    }
}

.contactimg{
    height: 70%;
    width:100%;
    object-fit:cover;
}

.iconsz{
    text-align: right;
}
.iconsz a{
    text-decoration: none;
    color:#242222;
    margin-left:20px;
    padding:10px;
    border: 1.5px solid #242222;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width : 992px) {
    .iconsz{
        text-align: center;
    }
    .iconsz a{
        margin-left:0 !important;
    }
}


.captiontext{
    font-size: xx-large;
    background-color: #a6a6a6;
    padding:40px;
    margin:0 !important;
    font-weight: bold;
    color:#242222;
}

.oddtext{
    color:black;
    text-align: right;
    font-size: x-large;
    font-family: "DM Sans";
}